<h3>Thanks for playing!</h3>
<a href="/new_player" class='btn btn-primary'>Start over</a>
<br/>
<br/>
<h5>Or try these other student's versions!</h5>

<a href="http://evening-bastion-9400.herokuapp.com/" class='btn btn-primary'>Justus Wang</a><br/><br/>

<a href="http://thawing-oasis-8008.herokuapp.com/" class='btn btn-primary'>Robert Jewell</a><br/><br/>

<a href="http://lit-atoll-8162.herokuapp.com/" class='btn btn-primary'>Scott Runyan</a><br/><br/>

<a href="http://quiet-meadow-2931.herokuapp.com" class='btn btn-primary'>Stefano Schiavi</a><br/><br/>


